@media (max-width: 991px) {
  .wrapper {
    overflow-x:hidden;
  }
}
/* table freeze */
.table-freeze{
  height: 95vh;
}
.table-freeze tbody td, .table-freeze thead th {
    position: sticky;
}
.table-freeze thead th:first-child, .table-freeze tbody td:first-child {
    left: 0;
    z-index: 7;
}
.table-freeze thead th {
    top: 0;
    z-index: 8!important;
}
.table-freeze thead th:first-child{z-index: 9!important;}
.table-freeze tbody tr:nth-of-type(odd) td:first-child { background: #f2f2f2; }
.table-freeze tbody tr:nth-of-type(even) td:first-child, .table-freeze thead th { background: white; }



tr.total td{
  background: #9368E9!important;
  color: white;
}
.card .table tbody td:last-child, .card .table thead th:last-child {
    display: table-cell;
}
tr.cost td{
    color: #ff2626!important;
}
tr.rev td{
    color: #022dfd!important;
}
tr.kredit td {
    background-color: #cc78f7!important;
    color: white;
}
tr.hp3 td {
    background-color: #c04ad6!important;
    color: white;
}
tr.deviasi td {
    background: #7030f1!important;
    color: white;
}
tr.total td {
    font-weight: bold;
}
table.tabletdhover tbody>tr>td:hover{
  background: #9368E9!important;
  color: white;
}
#tablerekap tbody td:first-child {
    width: 205px;
    display: block;
}

.tableedit tbody td:nth-child(2) {
    width: 200px;
    display: block;
}
/* .tableedit tbody td:first-child {
    width: 250px;
    display: block;
} */

input[type="date"]::-webkit-clear-button {
    display: none;
}

input[type="date"]::-ms-clear {
    display: none;
}

textarea.form-control{
  height: auto;
}

.main-panel{
  background:white;
}


.fc-state-hover, .fc-state-disabled {
    color: #333333;
    background-color: #f2e3ff;
}
.fc-state-default {
    border-color: #972fb0;
    color: #972fb0;
}
.fc-state-down, .fc-state-active {
    background-color: #972fb0;
    color: white;
}
.fc-event.primary {
    color: white;
    background-color: #932aad;
}
.fc-state-highlight > div > div.fc-day-number {
    background-color: #00bcd4;
}
.fc-event.info {
    background: #8a66cd;
    color: white;
    font-weight: bold;
}
.fc-event.important {
    background: red;
    color: white;
    font-weight: bold;
}

i.hapusdokumen {
    position: absolute;
    top: -10px;
    right: 6px;
    cursor: pointer;
}
.dokalert {
    font-size: 10px;
    padding: 5px;
    position: absolute;
    right: 10px;
}
